# Ignorar archivos y carpetas innecesarias
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.env
.vscode/
.idea/
.mypy_cache/
.pytest_cache/
*.sqlite3
.DS_Store
.venv/

# Ignorar archivos de control de versiones
.git/
.gitignore

# Ignorar dependencias instaladas localmente
.poetry/
site/

# Ignorar archivos de configuración de Docker
docker-compose.override.yml
docker-compose.yml

# Ignorar archivos de configuración de Poetry
poetry.lock

# Ignorar archivos de configuración de Poetry
poetry.lock


